@import './styles/base.css';
@import './styles/layout.css';
@import './styles/components.css';
@import './styles/player-panels.css';
@import './styles/home.css';
@import './styles/artist.css';
@import './styles/track.css';
@import './styles/login.css';
@import './styles/misc.css';
@import './styles/detail-pages.css';
@import './styles/pages.css';